;; superdesk-graphql - middleware between the superdesk production api and GraphQL

{:aliases  {:dev {:extra-paths ["development/src"]
                  :extra-deps {org.clojure/clojure            {:mvn/version "1.10.3"}
                               org.clojure/tools.deps.alpha   {:mvn/version "0.12.1003"
                                                               :exclusions [org.eclipse.jetty/jetty-client
                                                                            org.eclipse.jetty/jetty-http
                                                                            org.eclipse.jetty/jetty-util]}
                               ch.qos.logback/logback-classic {:mvn/version "1.2.3"}
                               poly/production-api-to-graphql {:local/root "components/production-api-to-graphql"}
                               poly/production-api-auth       {:local/root "components/production-api-auth"}
                               poly/graphql-api               {:local/root "bases/graphql-api"}
                               }}

            :test {:extra-paths ["components/production-api-auth/test"
                                 "components/production-api-to-graphql/test"
                                 "bases/graphql-api/test"]}

            :build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.5.2" :git/sha "8f75b81088b9809ec3cfc34e951036b3975007fd"}}
                    :paths ["build/resources"]        
                    :ns-default build}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "b32f37589f12c6be3955bf23f5bae9c55639468f"
                                 :deps/root "projects/poly"}}}}}
