{:paths ["src" "resources"]
 :deps {aero/aero {:mvn/version "1.1.6"}
        integrant/integrant {:mvn/version "0.8.0"}
        integrant/repl {:mvn/version "0.3.2"}
        io.pedestal/pedestal.service {:mvn/version "0.5.7"}
        io.pedestal/pedestal.route   {:mvn/version "0.5.7"}
        io.pedestal/pedestal.jetty   {:mvn/version "0.5.7"}
        org.slf4j/slf4j-simple       {:mvn/version "1.7.28"}
        com.walmartlabs/lacinia {:mvn/version "1.0"}
        com.walmartlabs/lacinia-pedestal {:mvn/version "1.0"}
        } 
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
