{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.deps.alpha {:mvn/version "0.12.985"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.3"}
        poly/production-api {:local/root "components/production-api"}
        poly/production-api-to-graphql {:local/root "components/production-api-to-graphql"}
        poly/graphql-api {:local/root "bases/graphql-api"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}}}
